*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/***
 *      ____   _                      
 *     / ___| | |_  __ _   __ _   ___ 
 *     \___ \ | __|/ _` | / _` | / _ \
 *      ___) || |_| (_| || (_| ||  __/
 *     |____/  \__|\__,_| \__, | \___|
 *                        |___/       
 */

#stage {
    display: block;
    margin: 0 auto;
}

/***
 *      _   _  _   _  ____  
 *     | | | || | | ||  _ \ 
 *     | |_| || | | || | | |
 *     |  _  || |_| || |_| |
 *     |_| |_| \___/ |____/ 
 *                          
 */

#hud {
    margin: -600px auto;
    overflow: hidden;
    width: 800px;
    height: 600px;
}

    #hud .hud-screen {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }

    #hud-loading {
    }
    
        #hud-loading-perc {
            margin-top: 290px;
            text-align: center;
        }
        
    #hud-main {
    }
    
        #hud-main-scoreContainer {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        
        #restart {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -21px;
            margin-top: -10px;
        }